linode_token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
domain = "example.com"
user = "tboronczyk"
ssh_privkey = "~/.ssh/tboronczyk-example"
ssh_pubkey = "~/.ssh/tboronczyk-example.pub"
