Linode_token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
domain = "example.com"
user = "tboronczyk"
ssh_privkey = "/home/tboronczyk/.ssh/tboronczyk-example"
ssh_pubkey = "/home/tboronczyk/.ssh/tboronczyk-example.pub"
