<VirtualHost *:80>
    ServerName {{domain}}
    ServerAlias www.{{domain}}
    Redirect / https://www.{{domain}}
</VirtualHost>

<VirtualHost *:443>
    ServerName {{domain}}
    Redirect / https://www.{{domain}}

    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/{{domain}}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{domain}}/privkey.pem
</VirtualHost>

<VirtualHost *:80>
    ServerName dev.{{domain}}
    Redirect / https://dev.{{domain}}
</VirtualHost>

<VirtualHost *:443>
    ServerName www.{{domain}}
    ServerAdmin webmaster@{{domain}}
    DocumentRoot /var/www/{{domain}}/www/public
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/{{domain}}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{domain}}/privkey.pem

    <Directory /var/www/{{domain}}/www/public>
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>

<VirtualHost *:443>
    ServerName dev.{{domain}}
    ServerAdmin webmaster@{{domain}}
    DocumentRoot /var/www/{{domain}}/dev/public
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/{{domain}}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{domain}}/privkey.pem

    <Directory /var/www/{{domain}}/dev/public>
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
