all:
  vars:
    myusername: tboronczyk
    mydomain: example.com
    ansible_ssh_user: tboronczyk
    ansible_private_key_file: /home/tboronczyk/.ssh/tboronczyk-example
    #ansible_become_pass: s3cr3t
  children:
    databases:
      hosts:
        db:
          ansible_host: 192.168.56.100
    webservers:
      hosts:
        www:
          ansible_host: 192.168.56.100
    mailservers:
      hosts:
        mail:
          ansible_host: 192.168.56.200
